.header__lang-menu {
   margin: 0;
   padding: 0;
   display: flex;
   align-items: flex-end;
}

@media screen and (max-width: 576px) {
   .header__lang-menu {
      align-items: center;
      margin: 10px 0 0;
   }
}

@media screen and (max-width: 320px) {
   .header__lang-menu {
   }
}
