.intro {
   width: 70%;
   margin: 92px 0 0;
}

@media screen and (max-width: 1024px) {
   .intro {
      width: 74%;
   }
}

@media screen and (max-width: 768px) {
   .intro {
      margin: 88px auto 0;
      width: 94%;
   }
}

@media screen and (max-width: 320px) {
   .intro {
      width: 90%;
      margin: 64px auto 0;
   }
}
